[2020-01-10 21:45] therefromhere opened #3 "Docs vs code - --signature-type or --signature_type?"
Hi, the documentation says the command line flag is `--signature-type` (which is matches the common style of - instead of _ in command line flags), but it's actually implemented as `--signature_type` - which is intended?

[2020-01-10 22:18] di commented on #3
It should be `--signature-type`, thanks!

[2020-01-13 16:29] #3 closed

[2020-01-13 17:05] maikelrobier opened #5 "Run function in debug mode"
Is it possible to run the flask server in debug mode?

Let's say I need to debug the function code using the framework from VSCode for example, is there a way to do that currently?

[2020-01-14 16:55] di commented on #5
Yes, you can use the `--debug TRUE` command line flag or set the `DEBUG` environment variable to `TRUE`.

[2020-01-18 22:59] ilpersi opened #6 "Is there a way to automatically reload modifications to main.py?"
I know that in standard Flask you can do this in the following way:
[code]

I've tried also with functions-framework with no luck: is there a possible workaround?
Thank you.

[2020-01-18 23:43] di commented on #6
Yes, you can use the `--debug TRUE` command line flag or set the `DEBUG` environment variable to `TRUE`.

[2020-01-19 10:33] ilpersi commented on #6
I saw the `--debug TRUE` switch in #5 and used it to debug my functions; it does not automatically reload the main.py after I modify it: I have to stop function-framework and start it again

[2020-01-20 16:03] di commented on #6
Can you give us some more details about how you're trying to run the `functions-framework`? The following works for me

[code]

[2020-01-20 22:30] ilpersi commented on #6
Hi Dustin, here is a video of what I am doing: https://drive.google.com/file/d/1BJx4Bmc2YN4sgLTKDRSbqo-EdX1TZomj/preview

Is there any other detail that can help you?

[2020-01-20 22:46] di commented on #6
Hi @ilpersi, thanks for the very detailed video! One difference is that Flask/Werkzeug is using the "stat" reloader on your machine, but I'm using "fsevents" which comes from the [watchdog](https://pypi.org/project/watchdog/) package.

It seems like what Flask uses varies from one platform to another. Could you try installing watchdog in your environment and see if that helps?

Also if you could i

[2020-01-21 23:25] ilpersi commented on #6
@di installing watchdog solves the issue! 🔝 👍

Here is my `flask --version`
[code]

I think that Flask version is also something that deserves more documentation: to stick with the [cloud functions runtime](https://cloud.google.com/functions/docs/writing/http#http_frameworks) I originally installed 1.0.2. and I updated to 1.1.1 after you posted your `flask --version` as an attempt to fix the issue

[2020-01-24 09:00] grant opened #11 "Cut 1.1 Release on PyPi"
Hey @di, I think we need to cut a new release on pypi to update the signature-type typo.

The change seems to be on master but not released on pypi.

Related:
- https://github.com/GoogleCloudPlatform/functions-framework-python/pull/10
- https://github.com/GoogleCloudPlatform/functions-framework-python/pull/4

[2020-01-30 17:08] #6 closed

[2020-01-30 17:42] #5 closed

[2020-01-30 18:49] #11 closed

[2020-02-06 19:38] asriniva opened #14 "Adding dryrun option"
To be able to more easily catch syntax errors and related issues in the function before starting a server, a dryrun would be helpful. The function framework for Node.js has an option for this: https://github.com/GoogleCloudPlatform/functions-framework-nodejs/pull/118

[2020-02-06 21:57] di commented on #5
FYI, once #15 is released, this will just be a flag (`--debug`) instead of an option (`--debug TRUE`).

[2020-02-06 21:58] di commented on #6
FYI, once #15 is released, this will just be a flag (`--debug`) instead of an option (`--debug TRUE`).

[2020-02-07 00:31] #14 closed

[2020-02-07 03:29] di commented on #14
Released in [`functions-framework==1.1.1`](https://pypi.org/project/functions-framework/1.1.1/).

[2020-02-12 08:44] kanekv opened #19 "make host configurable"
On mac every time it reloads there is a firewall alert because it's fixed listen on `0.0.0.0`. Can we add `--host` option to override the interface?

[2020-02-18 23:01] di commented on #19
Yup, sounds like a good idea. Would you like to work on this?

[2020-02-18 23:05] kanekv commented on #19
Sure, I'll submit a PR if you are not against it.

[2020-02-18 23:06] di commented on #19
Please do!

[2020-02-20 20:53] #19 closed

[2020-02-20 22:16] di commented on #19
Released in [`functions-framework==1.2.0`](https://pypi.org/project/functions-framework/1.2.0/).

[2020-02-26 10:07] RomikimoR opened #23 "Functions Framework does not work with the Pub/Sub emulator"
Hello,

I am trying to emulate the behavior of my application.
To do so I use the Pub/Sub Emulator and the Google cloud function emulator.
The cloud function I created looks like the image following and is supposed to be triggered by an event :
![image](https://user-images.githubusercontent.com/27961680/75333359-500b4800-5886-11ea-937b-2ab4150260c3.png)

Both emulators are communicating without is

[2020-02-26 23:56] di commented on #23
Thanks for the report, I'll take a look at this and see what's going on.

[2020-02-27 01:44] wojtek-viirtue commented on #23
+1 on this.  I can confirm I'm seeing the same exact result for the same exact use case.

[2020-02-29 12:41] oxesoft opened #24 "How can I register sqlalchemy extension to the current flask application globally?"
The default way of using sqlalchemy models is calling globally:
[code]
I don't see a way to get the "app" globally with functions-framework. sqlalchemy doesn't allow us registering it after a request is made. The desired use case is a simple:
[code]
More information about using Flask-SqlAlchemy is [here](https://flask-sqlalchemy.palletsprojects.com/en/2.x/contexts/).

[2020-02-29 15:56] di commented on #24
Hi @oxesoft, thanks for the question.

Even though the Functions Framework uses Flask, and there is technically an `app` somewhere inside it, there is no way to get access it primarily because it won't be available to you in the Cloud Functions runtime either.

If you need access to an `app` variable, it sounds like you're building an application, not a function, and you might want to consider usi

[2020-02-29 15:56] #24 closed

[2020-03-01 09:57] isaldana commented on #23
It looks like when setting `Ce-Type`, `Ce-Specversion`, `Ce-Source`, and `Ce-Id` the request body is not `JSON` parsed. Unfortunately, when they are not set, only the `data` portion of the request are passed on the first parameter to the function. According to the samples for [Pub/Sub-triggered functions](https://cloud.google.com/functions/docs/testing/test-background), the first parameter should

[2020-03-02 08:36] uraniun commented on #23
I've made fork of this repo, that supports events from Pub/Sub. Not the cleanest/best solution, but it works for my needs. Hope this may help
https://github.com/uraniun/functions-framework-python

[2020-03-02 08:56] RomikimoR commented on #23
I will try the fork!! Thank you a lot I really needed a patch even not the cleanest for this !

[2020-03-02 08:58] grant commented on #23
Thanks for the report and workaround. As Dustin stated, we'll look into this (it may be similar with other frameworks).

[2020-03-03 18:43] di commented on #23
Just a quick update here: we've decided to add support for these legacy-style Pub/Sub events. Hang tight while we roll this out, and thanks for your patience.

[2020-03-04 02:33] jakebiesinger-onduo opened #25 "But don't take away exception handling!"
Howdy!

I love the idea of this repository. We have tons of GCP Cloud Functions and Cloud Runs (what an awful noun). It can be hard for a dev to switch between the two, particularly to go to Cloud Run land when they've never seen a `Dockerfile` before.

But we're moving more and more of our stuff into Cloud Run because it offers better options for handling exceptions. Many of these are super-duper

[2020-03-04 02:33] jakebiesinger-onduo opened #52 "But don't take away exception handling!"
Howdy!

I love the idea of this repository. We have tons of GCP Cloud Functions and Cloud Runs (what an awful noun). It can be hard for a dev to switch between the two, particularly to go to Cloud Run land when they've never seen a `Dockerfile` before.

But we're moving more and more of our stuff into Cloud Run because it offers better options for handling exceptions. Many of these are super-duper

[2020-03-04 16:42] di commented on #25
Hi @jakebiesinger-onduo, thanks for the feature request. I think it's unlikely that we'd just implement this for the Python framework -- this pattern could be useful for other languages as well.

Could you open this at https://github.com/GoogleCloudPlatform/functions-framework as a feature request for the overall contract instead?

[2020-03-27 21:25] asriniva opened #27 "Adjust path handling for robots.txt and favicon.ico"
Functions frameworks should listen on all paths and forward without modification except /robots.txt and /favicon.ico

This change was added in the nodejs functions framework here: https://github.com/GoogleCloudPlatform/functions-framework-nodejs/pull/121/

[2020-04-01 22:11] AlbertoMQ opened #28 "Deployment failure: Function failed on loading user code. Error message: File main.py is expected to contain a function named cleanEdges"
Getting the error in title despite being able to see my code in the google cloud platform cloud functions console with the named function.

[code]

Trigger: Cloud Storage
Event Type: Finalize/Create

[2020-04-01 22:29] di commented on #28
Hi @AlbertoMQ, thanks for the report. Can you give us some more context? How are you invoking the functions framework, or where are you running it?

[2020-04-02 22:39] dror-g commented on #23
Hi, not sure but I think it's related:
When using the Python function code example from [Pub/Sub Tutorial](https://cloud.google.com/functions/docs/tutorials/pubsub#preparing_the_application)
I get an error when using curl  to emulate an event (from nodejs framework, same as OP).
`main.py", line 17, in hello
    if 'data' in event:
TypeError: a bytes-like object is required, not 'str'
`
cheers

[2020-04-03 02:21] #28 closed

[2020-04-08 12:00] yuri-sergiichuk opened #29 "Make it easier to debug functions in IDEs"
Currently, it is super hard to configure the local debug of the functions in PyCharm, moreover, I found it impossible without hacking the `cli.py`.

Here is a way to do it in PyCharm now:
1. Add main function to the `cli.py`:
[code]
1. Create PyCharm Python config and choose `functions_framework\cli.py` as a script.
1. Pass required params as `Parameters` in the configuration, e.g. `--port 8088 --

[2020-04-08 14:54] di commented on #29
Thanks for the report!

I'm not that familiar with PyCharm so bear with me: is it not possible to use a command like `functions-framework --debug --port 8088 --signature-type http`? It has to be some importable Python script?

I think it would be reasonable to add a `__main__.py` and support `python -m functions_framework`, just want to make sure I understand the issue here.

[2020-04-08 15:05] yuri-sergiichuk commented on #29
PyCharm has its own debugger that is injected as a sidecar to the module being run with lots of cool functions.

The `--debug` here enabled Flask's debug mode and Flask has its own debugger. I have not found a way to make them work together. That's why I need a way to run the `functions_framework` either as a module or as a script so that PyCharm can do its debug-related magic.

[2020-04-08 17:21] di commented on #29
Hi @yuri-sergiichuk, can you try this branch and let me know if it works for you?

You should be able to install it with:

[code]

[2020-04-08 18:17] yuri-sergiichuk commented on #29
Hi @di. Yes, I can run it as a module now and for PyCharm that should be enough.

Also, maybe it still worth having the `__main__` in the `cli.py`? I'm not sure how debuggers work in other IDEs, but right now I still cannot run the `cli.py` directly.

[2020-04-08 19:25] di opened #32 "Document how to debug locally w/ popular IDEs"
Create well-structured documentation about debugging functions locally with popular IDEs:

- [ ] PyCharm
- [ ] VSCode
- others?

_Originally posted by @yuri-sergiichuk in https://github.com/GoogleCloudPlatform/functions-framework-python/issues/29#issuecomment-611113052_

[2020-04-08 19:27] di commented on #29
Great!

This particular file is not meant to be run directly. I renamed it `_cli` in #31 to make this more clear.

[2020-04-08 19:27] #29 closed

[2020-04-13 18:25] #27 closed

[2020-04-13 18:35] di commented on #27
Released in [`functions-framework==1.3.0`](https://pypi.org/project/functions-framework/1.3.0/).

[2020-04-13 18:37] di commented on #29
Released in [`functions-framework==1.3.0`](https://pypi.org/project/functions-framework/1.3.0/).

[2020-04-21 18:02] di commented on #23
@dror-g It looks like your function expects a Pub/Sub message but you're calling it with headers that indicate that it's a binary CloudEvent instead.

Try calling it like so:

[code]

Where the value of `data` is what eventually becomes the `event` object in your function.

[2020-04-21 20:17] dror-g commented on #23
Hi @di , yes, like OP I am trying to emulate Pub/Sub triggered function, and we both tried to post a mock.json file.
functions-framework seems to be working as long as you BASE64 encode the body (as it is in the cloud) and enclose it in `{"data": {"data": "$B64_string"} }`.

Tried this function:
[code]

What works:

- started with `functions-framework --target wak --signature-type event`
calling w

[2020-04-22 10:14] yuri-sergiichuk opened #35 "Not able to deploy function with .zip archive"
I do understand that the issue is not related to the `functions-framework` directly, but maybe someone from the team can reach the GCF team and ask them to check it out.

So, the issue is the following. I'm not able to deploy a GCF source as `.zip` archive via Cloud Console UI or using terraform. But if I unpack the function and go with `gcloud functions deploy` it works just fine. Here is the err

[2020-04-22 17:01] di commented on #35
Hi @yuri-sergiichuk, the public tracker is the right place for this issue. I'll make sure the team sees it.

[2020-04-22 17:01] #35 closed

[2020-05-07 19:25] BYK opened #38 "Windows support broken due to gunicorn"
#36 switched to Gunicorn which is not supported on Windows. So as of `1.4.0`, `functions-framework` is not usable on Windows.

[2020-05-07 19:46] di commented on #38
@BYK, sorry for the trouble. Can you share exactly what error you're getting?

For now, you should be able to work around this with the `--debug` flag, which uses Flask's built-in HTTP server instead.

[2020-05-07 19:49] BYK commented on #38
I think that may need to be the default or needs to be advertised for local development scenarios.

That being said, I cannot even run `--help` as it imports gunicorn by default, which tries to import `fnctl` and fails there :)

[2020-05-07 19:50] BYK commented on #38
Full error and stack trace:
[code]

[2020-05-07 19:52] di commented on #38
Got it, sorry about that. In that case, you can pin to [`functions-framework==1.3.0`](https://pypi.org/project/functions-framework/1.3.0/) for now.

[2020-05-07 21:26] BYK commented on #38
@di yup, that's what I did. Thanks! :)

[2020-05-08 01:47] #38 closed

[2020-05-08 01:54] di commented on #38
Fixed in [`functions-framework==1.4.1`](https://pypi.org/project/functions-framework/1.4.1/).

[2020-05-12 10:34] ChristianSauer commented on #32
I think this is a very important topic - it confused me massivley at the beginning.
As a problem: Even now I am unable to disable the debugger --debugger False does not work, and it seems to be active per default.

[2020-05-12 10:53] yuri-sergiichuk opened #42 "Reconsider adding gunicorn as required dependency"
In the PR #36, the Gunicorn server became the required dependency which means that each app will have to download the Gunicorn and moreover if you bundle the app as a package with `functions-framework`, the Gunicorn will be in that package as well.

While it looks like smth that ease development and deployment and allows bootstrapping production-ready instances faster, in many cases I've seen Dock

[2020-05-12 15:28] di commented on #32
@ChristianSauer, can you file a separate issue with more details? I think I know what's happening but want to confirm.

[2020-05-12 15:50] di opened #43 "Document ability to use Functions Framework as a WSGI app"
While #36 removed the example of fine-tuning gunicorn, it's still possible to use the Functions Framework as a WSGI app in this way.

We should document how to do this if you need finer control over the HTTP server used, and also document some other WSGI servers that users could use instead of gunicorn if they need to.

[2020-05-12 15:55] di commented on #42
Hi @yuri-sergiichuk, thanks for the issue.

We added gunicorn as a dependency because:
* we want to ensure that users have a production-ready HTTP server available to them,
* that they're not unintentionally using the Flask development server in production,
* and that they don't need to install and configure additional libraries.

That said, it's still possible to use different WSGI servers or eve

[2020-05-12 15:55] #42 closed

[2020-05-12 16:05] di opened #44 "Unable to disable debugger when gunicorn is not available"
As a problem: Even now I am unable to disable the debugger --debugger False does not work, and it seems to be active per default.

_Originally posted by @ChristianSauer in https://github.com/GoogleCloudPlatform/functions-framework-python/issues/32#issuecomment-627259026_

[2020-05-13 21:31] #44 closed

[2020-05-13 21:44] di commented on #44
@ChristianSauer I think I resolved your issue in the latest release, please take a look and let me know.

[2020-05-14 08:55] ChristianSauer commented on #44
@di Thanks! Upaded today and the server no longer starts in debug mode.
Sorry for the late answer, really life is crazy busy with kids atm.

[2020-05-14 11:31] ChristianSauer opened #47 "Better document testing"
Hi,
neither the docs or code examples mention how to set up tests - which I think is important for any non trivial function.

I currently hook up my tests like this:

[code]

this assumes that the test file is inside a test folder.

[2020-05-14 11:33] ChristianSauer opened #48 "HTTP Functions: Global Exception Handler"
Is it possible to hook up Flasks global exception handler? Wrapping the whole function into a try..catch feels gross.

[2020-05-14 13:12] ChristianSauer opened #49 "Impossible to use get_type_hints in main file"
get_type_hints is used by Pydantic, dacite etc. to create their model classes, so it'S kinda important.

Currentliy, this is broken in main.py:

[code]

# reproduction:
 install dacite
in main.py
[code]
post some data to it and observe the error.

# Workaround:
create another file and place your data classes in them

[2020-05-14 16:44] di commented on #48
There's some additional discussion about this here: https://github.com/GoogleCloudPlatform/functions-framework/issues/18

[2020-05-14 16:49] di commented on #47
Hi @ChristianSauer, there's some existing documentation about this here: https://cloud.google.com/functions/docs/testing/test-overview, such as https://cloud.google.com/functions/docs/testing/test-http for testing HTTP functions.

Since this is really more "Cloud Functions" documentation than "Functions Framework" documentation, I think this project can just link to those pages if they sufficientl

[2020-05-14 18:19] #49 closed

[2020-05-14 18:26] di commented on #49
Thanks for the bug report! This is fixed in [`functions-framework==1.4.3`](https://pypi.org/project/functions-framework/1.4.3).

[2020-05-15 07:04] ChristianSauer commented on #49
Thanks!

[2020-05-15 07:12] ChristianSauer commented on #48
I have answered in that thread, so maybe we can close this?

[2020-05-15 07:16] ChristianSauer commented on #47
I think it is also functions framework documentation - the framework abstracts away some details and that makes it difficult to get integration test up and running.

The entry for integration testing is only for node currently: https://cloud.google.com/functions/docs/testing/test-http#integration_tests

I would suggest adding a paragraph detailing how to set up IT tests for this framework in this

[2020-05-15 14:33] #48 closed

[2020-05-15 16:10] di commented on #47
Got it, we will definitely add some Python examples to those docs, thanks!

Good point, I will leave this open to address that.

[2020-05-15 16:31] grant commented on #52
Transferred.

[2020-05-21 18:48] jduplessis commented on #32
I think this would be very helpful. I'm burning quite some time trying to figure out how to debug function-framework running in a container. It eventually led me to look into Python remote debugging on VSCode in general.

I found some great material on this by @marcel-dempers. Trying to convert it to something I can use with functions-framework has however not proven successful (...yet), mainly du

[2020-05-21 19:10] di commented on #32
@jduplessis Could you link to the guide you've tried to use so far?

[2020-05-21 19:28] jduplessis commented on #32
I started off with [this](https://github.com/marcel-dempers/docker-development-youtube-series) which enabled me to debug a Flask app running in a container. I then attempted to replace the flask "overhead" with functions-framework, but I haven't been able to hit a break point yet.

I made small changes to the code above, mainly trying to get something like this working:
![image](https://user-image

[2020-05-21 19:38] di commented on #32
It's possible that we might need to make some changes to the framework to support using `ptvsd`.

Would you be able to try installing the framework from [this branch](https://github.com/GoogleCloudPlatform/functions-framework-python/tree/cloud-debuggern) and see if you're able to hit a breakpoint?

You can install it from there by making this change to your `Dockerfile`:

[code]

[2020-05-21 19:58] jduplessis commented on #32
When I attach the debugger, I get this (which looks promising):
![image](https://user-images.githubusercontent.com/2579639/82600228-df867580-9bad-11ea-88d3-1018a65af3cd.png)

But then I run into this:
![image](https://user-images.githubusercontent.com/2579639/82600295-fd53da80-9bad-11ea-8129-97038a358250.png)

[2020-05-21 20:18] di commented on #32
Hmm, any idea where it's getting the `45397` port from? That doesn't seem to be described at https://code.visualstudio.com/docs/containers/debug-python, just the `ptvsd` port.

[2020-05-21 20:39] jduplessis commented on #32
I have no idea. The port in the error message changes every time I attach the debugger. I'm looking into a similar issue reported here: https://github.com/microsoft/ptvsd/issues/1560.

[2020-05-21 20:46] di commented on #32
Ah, that seems to make sense. Can you try:

[code]

[2020-05-21 20:56] jduplessis commented on #32
When I remove --debug I get a lot of errors in the container, but this focused my attention on **_--multiprocess_**.  Removing the **_--multiprocess_** resolved the random port issue.

Still no luck with the break point:
![image](https://user-images.githubusercontent.com/2579639/82605485-4c057280-9bb6-11ea-8ab7-3e15f038dcd6.png)

[2020-05-21 21:04] di commented on #32
Thanks. It's very likely this is due to how the framework loads user code and additional work on your part won't resolve it. I will plan to take a closer look at this soon.

[2020-05-21 21:20] jduplessis commented on #32
Thanks @di. I'll stick to functions-framework on local for now.

[2020-05-22 04:18] 27Bslash6 commented on #23
I had this same issue working with the nodejs pubsub client for cloud functions

[2020-05-22 10:29] jfpmonteiro opened #54 "Inconsistency in the path between emulator and the deployed cloud function"
I have been using the functions framework to emulate my cloud functions locally for development and
had no issue until I tried to do some simple routing based on the request path.

When running in the emulator the `request.path` contains the function name like so: `"/function_name"` or `"/function_name/some_route"`.
Meanwhile in deployment cloud functions only receive in the `request.path`respecti

[2020-05-22 14:20] jduplessis commented on #32
Apologies for hijacking this documentation issue. I thought I'd at least give some feedback for anyone who comes across this conversation.

We ended up using the VSCode extension for remote debugging in containers ([Remote - Containers Extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-containers)).

This allows running the functions_framework Python module with

[2020-05-26 16:30] di commented on #32
Hi @jduplessis, glad to hear you were able to get it working!

If you're able to write up the steps you took in a little more detail, I think that would be a good starting point for the "VSCode" portion of this issue.

[2020-05-26 16:51] jduplessis commented on #32
Sure, I'll provide details on our dev setup as soon as I have a quite moment. Tomorrow I'm going back in to the office for the first time since March, so things might be a bit crazy for a day or two.

[2020-05-28 20:32] grant opened #55 "Support Signature Type: CloudEvent"
# Support signature type `cloudevent`

This signature type should support HTTP requests with CloudEvent objects delivered via either structured and binary CloudEvent objects. Usually a CloudEvents SDK can handle transforming the HTTP request to a language-native CloudEvent object.

[New signature `cloudevent` in **Functions Framework contract**](https://github.com/GoogleCloudPlatform/functions-fra

[2020-06-04 19:25] mikebridge commented on #23
Just so I'm clear, is this an issue with the functions framework, the pubsub emulator, someone's understanding of the correct payload format, or the (adapted) [documentation around the technique for connecting the emulator to the functions framework](https://github.com/GoogleCloudPlatform/functions-framework-nodejs)?   I'd like to try using the functions framework as part of an end-to-end test wit

[2020-06-04 20:07] mikebridge commented on #23
Google's ["getting started" documentation](https://cloud.google.com/functions/docs/testing/test-background#pubsub-triggered_functions) describes the `event` as a python dict, but I can see that when posting via curl with the OP's test script will pass the event as a `str`.  So is the bug then with the http testing endpoint?

Maybe the easiest workaround is to write a wrapper function just for test

[2020-06-04 21:05] mikebridge commented on #23
While I'm at it, I see no reason why the example base64-encodes/decodes the text string _within the json payload_.  This just makes the Google documentation even more confusing than it already is.

[2020-06-04 21:29] mikebridge commented on #23
The more I read the [google documentation](https://cloud.google.com/pubsub/docs/publisher), the more frustrated and confused I get.  Am I mistaken or is it *full* of errors?  As far as I can *tell* from running the example I just posted, the data payload is just a plain old `string`, and it's delivered in a Python `dict`.

But [here](https://cloud.google.com/pubsub/docs/publisher#publish) it says

[2020-06-08 13:55] jduplessis commented on #32
We finally have a working dev setup. I asked @pengelbrecht2627 to provide some details. He put in most of the time on this. Our focus was on creating a dev environment that would:
1. Require very little setup on the development machine (VSCode, Extentions and Docker)
2. Work for a large number of functions in the same repo

@di, this might be overkill for what you had in mind for the documentation

[2020-06-08 15:10] pengelbrecht2627 commented on #32
While @jduplessis went at the solution from a container solution, I simultaneously tried a WSL and Poetry route. In the end we decided to streamline the WSL route to be closer to containers. This resulted in our use of the `Remote - Containers Extension` extension for VS Code while stripping Poetry.

In short, the extension allows VS Code to connect to a VS Code server in a Docker container. This

[2020-06-09 15:19] yiga2 commented on #29
@yuri-sergiichuk can you share what you did in Pycharm to make it run in debug i.e. stop at breakpoints ?

[2020-06-09 15:26] yiga2 commented on #29
nvm - found it:
![image](https://user-images.githubusercontent.com/25224265/84167222-f0efce80-aa43-11ea-89c8-9cdde7d0e54f.png)

[2020-06-09 20:20] di commented on #32
Awesome, thank you to you both! I'd be interested to see how much we could simplify/generalize this example repo and integrate it as an example in this repo (if you are willing).

[2020-06-10 00:27] grant commented on #55
Sometimes GitHub prevents assignment, I think for new users, maybe a comment tag would work? @joelgerard

[2020-06-10 00:34] joelgerard commented on #55
OK. I have a PR coming for #55.

[2020-06-15 08:48] pengelbrecht2627 commented on #32
@di you are welcome too. We will likely integrate any simplifications back too 😄

[2020-06-15 15:25] di commented on #32
@pengelbrecht2627 Unfortunately I am unable to without a license for your repo 🙂

[2020-06-16 18:21] joelgerard opened #57 "Missing cloud event adapter tests"
We need a complete set of Event adapter tests to ensure that the various combinations of event types (Cloud Event, Binary Cloud Event, Legacy Event) against the different signature types (FUNCTION_SIGNATURE_TYPE=[cloudevent,event]) work.

Don't ship CEs without this in order to ensure backwards compatibility.

[2020-06-17 14:46] jduplessis commented on #32
@pengelbrecht2627 I'd be happy to donate some of your work time to generalize the solution for @di... Something that allows for easy setup of a dev environment to debug a single cloud function using functions-framework (on VSCode). The setup we have now is perfect for our purposes, but it makes it difficult to "teach" someone how to get the debug working quickly on a completely new project.

[2020-06-19 14:42] pengelbrecht2627 commented on #32
@di I created a minimal demo repo (with a MIT license). It is at [pengelbrecht2627/functions-framework-python-vscode](https://github.com/pengelbrecht2627/functions-framework-python-vscode)

[2020-06-19 15:56] di commented on #32
Thanks! Looking at that, it seems like the only thing that's required is the correct `launch.json` file, is that correct?

[2020-06-19 22:56] grant opened #63 "Merge branch `2.0.0-dev` into `master`"
Right now we have a separate branch, `2.0.0-dev`, that I believe can be merged into master as it should add incremental functionality.

[2020-06-22 13:57] pengelbrecht2627 commented on #32
Yes, and the plugin to make sense of the Python `type` option.

[2020-06-23 17:38] #63 closed

[2020-06-23 17:59] grant commented on #55
Fixed with #56.

[2020-06-26 02:21] joelgerard commented on #32
Possibly a horrible kluge, but this worked for me with PyCharm CE. Set a breakpoint in your own `main.py`, hit the Debug button, then `curl` or use your browser to hit the endpoint. @di, WDYT?

![_pycharm](https://user-images.githubusercontent.com/4008410/85813725-4c200180-b764-11ea-927f-8813e399f946.png)

[2020-06-26 02:33] di commented on #32
@joelgerard I'm curious why the "Script path" looks like that. Seems like that would be useful if you're working on the framework itself, but if you're just working on your own function, should that be something like `functions-framework`, no?

[2020-06-26 16:29] joelgerard commented on #32
That's the kluge part. I couldn't get pycharm to run `functions-framework` and hook the debugger. I'll take another look later, but that's as far as I've got so far.

[2020-06-26 20:45] joelgerard commented on #32
Better? https://github.com/joelgerard/functions-framework-python/blob/pycharm/PYCHARM.md

:)

[2020-06-26 21:02] yuri-sergiichuk commented on #32
@joelgerard you can try to change the `script path` to `module name`:
![image](https://user-images.githubusercontent.com/23313616/85900966-6c55cc00-b809-11ea-9d9e-705ad9933f2e.png)

Then PyCharm will pick up automatically your virtual/system Python and just do its job.

[2020-07-01 22:15] grant commented on #54
Sorry there wasn't a reply earlier.

Basically, the Cloud Functions deployment strips the function name out of the URL before your function sees it. The URL path shouldn't be used. If you are using the path for some reason, you can check the domain to see if the function name is in the path.

This isn't seen when deploying to Cloud Run.

Normally we don't recommend URL routing for Functions, becau

[2020-07-01 22:20] grant commented on #47
CC @ace-n: It looks like we have Node (on DevSite) and Java (not on DevSite), and no Python sample.

[2020-07-01 22:40] grant commented on #57
Hi @juliehockett, @di,
It looks like this framework supports CloudEvents on GitHub but it's not published? Do we need to change something before publishing? Maybe you have context on this bug.

(Context: Looking over all the FFs)

[2020-07-01 23:10] grant opened #65 "Publish CloudEvent Support to PyPI"
The current published version of the framework is not published on PyPI:

https://pypi.org/project/functions-framework

In order to support CloudEvents, it should be published. Perhaps there's a reason for not publishing yet, not sure.

[2020-07-02 01:25] grant commented on #65
Thanks Dustin!

[2020-07-02 01:25] #65 closed

[2020-07-02 17:58] someone1 commented on #43
Sorry to lurk onto this - but the [example Dockerfile's](https://github.com/GoogleCloudPlatform/functions-framework-python/blob/master/examples/cloud_run_http/Dockerfile) use of `CMD exec functions-framework --target=hello` seems to conflict with the [README.md's](https://github.com/GoogleCloudPlatform/functions-framework-python/blob/master/examples/cloud_run_http/README.md) guidance of using `CMD

[2020-07-02 20:18] di commented on #43
Is it possible you're using an older version of the repo, or an older version of the framework, or have some of the Docker layers cached? Since version `1.4.0`, invoking `functions-framework` will use gunicorn as a production HTTP server by default.

Building the [example `Dockerfile`](https://github.com/GoogleCloudPlatform/functions-framework-python/blob/master/examples/cloud_run_http/Dockerfile)

[2020-07-02 20:43] someone1 commented on #43
Ahhh - I think the confusion was that the root [README](https://github.com/GoogleCloudPlatform/functions-framework-python/blob/master/README.md) recommends we run `functions-framework --target hello --debug` which I guess starts a different server with the `--debug` flag.

After I saw the warning message and how the cloud run http example [README](https://github.com/GoogleCloudPlatform/functions-f

[2020-07-04 16:55] igo opened #68 "Add support for env-vars compatible with gcloud"
gcloud uses input parameters or yaml file for configuring env variables https://cloud.google.com/functions/docs/env-var#setting_environment_variables. Would be great to have the same way to define them also in functions-framework.

[2020-07-06 15:23] di commented on #68
Hi @igo, can you go into a bit more detail about what you'd like to be able to do? Are you trying to set environment variables for the Functions Framework (like `FUNCTION_SIGNATURE_TYPE `) from a configuration file, or are you trying to set environment variables for your function's runtime?

[2020-07-06 15:30] grant commented on #68
I believe this FR was also requested in the Node FF:
https://github.com/GoogleCloudPlatform/functions-framework-nodejs/issues/131

I'm not sure if there's an easy way for us to reuse yaml files for local env vars. Perhaps a guide would help? Not sure what the issue is.

[2020-07-07 19:46] igo commented on #68
I would like to maintain env variables for production deployment and local development in the same manner/format. Since `gcloud functions deploy` already defined how env variables are set (using `--set-env-vars` or `--env-vars-file` with yaml file) it would be great if `functions-framework` would also support this form of setting env variables. For example like this:

[code]

[2020-07-07 19:57] di commented on #68
Seems like this is a common request. I think this would be technically possible, and would also make it easier for GCF users to migrate their function to Cloud Run if desired.

[2020-07-07 21:32] grant commented on #68
I was going to suggest using a `.env` file and loading it for localhost with a little script like this:

https://gist.github.com/mihow/9c7f559807069a03e302605691f85572

Unfortunately `gcloud` seems to only accept yaml files, so we need a yaml to env var converter.

[2020-07-16 17:44] simplianup opened #72 "Response content-type csv"
Is there a way for us to stream a CSV file down as a response rather than text output?

[2020-07-16 18:05] di commented on #72
Hi @simplianup, thanks for the question. If I'm understanding it correctly, you're asking how to stream responses from a Cloud Function, is that correct?

Unfortunately this is not currently possible with the GCF architecture, there is no "streaming" or chunked responses at all, and there's a 10MB payload limit.

A workaround would be to write the file to Cloud Storage and return a redirect to the

[2020-07-16 18:25] simplianup commented on #72
@di - thanks for the super quick response.

For the redirect piece;

is it something like this?

[code]

[2020-07-16 20:23] di commented on #72
@simplianup Yes, see https://flask.palletsprojects.com/en/1.1.x/api/#flask.redirect

[2020-07-20 09:00] akssinhaamit opened #73 "Unable to use functions-framework-python with pubsub beta emulator"
Following the [README.md](https://github.com/GoogleCloudPlatform/functions-framework-nodejs/pull/40/files), I am able to trigger functions but I am expecting 'data' as a part of the event but unfortunately the message being passed from `google beta emulatar` is in the following format:
[code]
Is there something I am missing? Please guide!

[2020-07-20 14:28] di commented on #73
Thanks for the report. This is a duplicate of https://github.com/GoogleCloudPlatform/functions-framework-python/issues/23.

[2020-07-20 14:28] #73 closed

[2020-07-28 22:21] baldrich-randori opened #74 "functions framework with google pub/sub emulator"
I am attempting to replicate our cloud functions locally but they all leverage pub/sub. I can easily use the pub/sub emulator but I don't see how to subscribe to a topic on the local emulator using the local cloud functions? Am I missing something, how would you be able to run this locally and emulate your workflow without this?

Would anyone have any recommendations on how to run the full stack l

[2020-07-29 15:12] di commented on #74
Hi @baldrich-randori, thanks for reporting this issue.

The framework is not currently compatible with the Pub/Sub emulator (see #23). Once it is, we will document how to use them together.

Closing as a duplicate of #23.

[2020-07-29 15:12] #74 closed

[2020-07-29 15:13] di commented on #72
Closing due to inactivity, feel free to comment if this hasn't resolved your issue.

[2020-07-29 15:13] #72 closed

[2020-07-30 21:59] mayanksha opened #75 "Accessing Flask app context results in `RuntimeError: Working outside of application context.`"
Hi,

I was trying to deploy some Google Cloud Functions today and found out about this wonderful project to test the functions locally. I can't thank you enough for this project, since it saves a lot of time (deploying is very time consuming, and being able to test it locally is a big relief).

I've created a minimum viable example that can help to reproduce the error. The same example works wonde

[2020-07-31 01:15] di commented on #75
Hi @mayanksha thanks for filing an issue.

I'd say this isn't a bug, but you also aren't really doing anything wrong here: you're just relying on an undefined / unofficial implementation detail. We don't explicitly document that `from flask import current_app` should work, and it's not officially supported.

That said, given that this works when deployed, I think this is a trivial enough change th

[2020-07-31 14:33] mayanksha commented on #75
I tested these changes and I can confirm that it works as expected. Thanks! :-)

[2020-08-07 23:14] grant commented on #55
Re-opening as CE support was reverted.

[2020-08-07 23:53] di commented on #55
Cloud Event support is part of the [`version-2.x-dev`](https://github.com/GoogleCloudPlatform/functions-framework-python/tree/version-2.x-dev) branch and was released in [`functions-framework==2.0.0`](https://pypi.org/project/functions-framework/2.0.0/).

[2020-08-08 00:01] grant commented on #55
OK. We should still have the landing page/default branch for this repo to be correct.

`def hello(data, context):` for a CloudEvents as stated is not correct.

[2020-08-11 03:39] di commented on #55
Done, we now have:
* https://github.com/GoogleCloudPlatform/functions-framework-python/tree/version-1.x-dev -> the v 1.x branch
* https://github.com/GoogleCloudPlatform/functions-framework-python/tree/master -> the 2.x branch

[2020-08-11 03:39] #55 closed

[2020-08-11 04:39] grant commented on #55
Cool thanks! 👍

[2020-08-11 04:48] grant commented on #47
Looks like we have a new integration test using the FF:

https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/functions/helloworld/sample_http_test_integration.py

Does this help?

[2020-08-13 22:35] juliehockett opened #79 "Expose trace IDs in background and cloud event functions"
The `X-Cloud-Trace-Context` header is included in requests, but as we don't expose headers to the event-style functions it is inaccessible. This value is the only means of grouping StackDriver logs by request, and so we should expose it to the user function code.

Background events: The trace ID should be available in the `context` parameter.

CloudEvents: The trace ID should be encoded as an exte

[2020-08-14 17:45] anniefu opened #80 "Document incoming request type and/or add request parsing examples"
Please document the incoming "request" object to the function stub. It is important in the weakly typed languages.

For python, it happens to be a [Flask request](https://flask.palletsprojects.com/en/1.1.x/api/#incoming-request-data), which means I have to call `request.get_json()` to get the request body of POSTs.

But it could also have feasibly been some alternative like [Django HttpRequest](ht

[2020-08-14 17:45] anniefu commented on #80
@grant

[2020-08-14 17:51] di commented on #80
This is documented here: https://cloud.google.com/functions/docs/concepts/events-triggers#functions_parameters-python

There is also a sample of using this in a more complex way here: https://cloud.google.com/functions/docs/calling/http#functions-calling-http-python

Do we need to document it in the framework as well? Could we just link to the Cloud Functions docs instead?

[2020-08-14 17:56] grant commented on #80
I believe we should document (mention/add a link) for the incoming request object in this GitHub repo. On the Cloud docs is great as well.

We can use this framework with localhost, Cloud Run, other Clouds etc.

[2020-08-17 19:22] jacobg commented on #23
I'm also having an issue connecting the emulator to functions-framework. I'm publish a message with data={"foo": "bar"}, and the functions-framework shows the request comes in with the header `Content-Type: application/json` and body of:
[code]

And yet when my function is called:
[code]
It prints:
[code]

Is the posted json above using this legacy format you're referring to? From the snippets pas

[2020-08-17 19:41] jacobg commented on #23
Editing the `_run_legacy_event` function as follows seems to fix the issue:

[code]

[2020-08-17 23:33] #75 closed

[2020-08-19 14:57] Muriloo commented on #68
I'd love to use this feature as well.

[2020-08-24 15:30] origliante opened #83 "Add example on how to send an event as a client in cloud_run_event"
As in the title, I searched like a crazy and found nothing, an example would be great

[2020-08-24 15:37] di commented on #83
Thanks for the issue. There are some examples in https://github.com/GoogleCloudPlatform/functions-framework-python/issues/23 but ultimately this is blocked on that issue -- the "correct" way would be with the emulator.

[2020-08-25 01:02] origliante commented on #83
You're welcome, thanks for pointing me there, I'm leaving a quick example here for people stumbling upon the issue
If you are running:

`functions-framework --signature-type=event`

This is the way to send an event to the server:
`$ curl -d '{"data": {"hi": "there"}}' -X POST -H "Content-Type: application/json" http://localhost:8080`

[2020-09-23 16:31] grant opened #90 "docs: add buildpack instructions"
Add buildpack instructions to README for building a function in a container with a buildpack:

Example:
https://github.com/GoogleCloudPlatform/functions-framework-go#go-further-build-a-deployable-container

[2020-09-23 16:58] #90 closed

[2020-10-09 01:31] ace-n opened #92 "Binaries should have language-specific alias"
The Python FF can be invoked via a system-wide binary.

This is fine for environments where only one FF is installed, but environments with multiple FFs (i.e. FFs for multiple languages on the same machine, or multiple FF versions for a single language) make it harder to select specific FFs.

See [this issue](https://github.com/GoogleCloudPlatform/functions-framework/issues/38) for more context.

[2020-10-21 16:34] #52 closed

[2020-10-21 16:45] #92 closed

[2020-10-22 12:12] faridghar commented on #32
For me with VS Code it was just a matter of adding the following debug configuration to my `launch.json` file:
[code]

One thing I did have to do though is add the following to my `.zshrc` file:
[code]

Apparently this has to do with a change that was introduced in Mac 10.13 as discussed [here](http://sealiesoftware.com/blog/archive/2017/6/5/Objective-C_and_fork_in_macOS_1013.html)

[2020-10-22 15:40] #57 closed

[2020-11-06 12:54] dinigo opened #97 "Thread safe feature in macOS > Sierra breaks default behavior. Make worker sync"
I'm trying to run my integration tests as stated by the [GCP guide to perform integration tests in cloud functions](https://cloud.google.com/functions/docs/testing/test-http#integration_tests)

However I find an error in macOS where I have to disable the "safe thread" option so that gunicorn can fork the current process
[code]

To enable it I had to set this flag ([thanks to StackOverflow](https:/

[2020-11-06 19:34] di commented on #97
Hi @dinigo, sorry you're having problems, thanks for filing an issue.

Can you try adding the `--debug` flag?

[code]

[2020-11-06 19:47] di commented on #97
You can also try what I've described in https://github.com/GoogleCloudPlatform/python-docs-samples/issues/4952 for a slightly simpler integration test.

[2020-11-10 14:52] dinigo commented on #97
Just for reference, I tried the solution @di mentions in the link ([like so](https://github.com/GoogleCloudPlatform/python-docs-samples/issues/4952#issuecomment-723575068)) and it works like charm.

I don't know if there should be changes in the documentation, or maybe launching the process itself is part of the test.

[2020-11-11 00:43] di commented on #97
Glad to hear it @dinigo! Going to close this in favor of https://github.com/GoogleCloudPlatform/python-docs-samples/issues/4952 but thanks again for filing the issue.

[2020-11-11 00:43] #97 closed

[2020-11-23 21:54] martindufort opened #98 "How to serve multiple routes on the same Url : Port"
Hi,

I'm trying to serve multiple routes from the same Host / Port combination for local testing.

Each of these routes would point to a specific target.
All cloud functions (on GCloud) are sharing the same hostname.
So I would like to replicate this environment as much as possible

Is this possible ? I have not seen anything in the documentation to help me perform this setup.
I would like to serv

[2020-11-23 21:57] martindufort commented on #98
I could potentially simulate a unique URL by defining a distinct port number for each cloud function.
[code]
And then invoke them appropriately. Is this recommended ?

[2020-11-23 23:42] di commented on #98
Hi @martindufort, thanks for filing an issue.

If I understand correctly, you have multiple individual functions and you'd like to be able to serve them all simultaneously. You do not have a single function that you're trying to serve multiple endpoints from, is that correct?

If so, you're correct that the Functions Framework doesn't currently support that, but I think it would probably be a reas

[2020-11-23 23:43] di commented on #98
Also, a follow-up question: are these all the same function type, or are they a mix of HTTP and Background functions?

[2020-11-24 13:43] martindufort commented on #98
Hi @di, thanks for the quick reply.

A little bit of background: We have a server component to our solution which is being managed by the GCloud API Gateway connected to a number of cloud functions (http-triggered)

Within our Openapi description document, each route (URL Path) is directed to a specific Cloud Function.
[code]

When we deploy them, they are all accessible from the same host but wit

[2020-11-25 00:19] di commented on #98
Thanks for the replies @martindufort! Makes sense.

This is probably not something the Function Frameworks will support directly, however I created https://github.com/GoogleCloudPlatform/functions-framework-python/pull/99 to show an example of using skaffold, minikube, Cloud Buildpacks, and the Function Framework to run multiple functions on the same host and route based on some path.

I think thi

[2020-11-25 18:17] martindufort commented on #98
Hi @di, I had a look at #99 and it looks good.
However this is involving too many external dependencies for us. And we want to manage them at a minimum.

We might try to fork and change some of the functionality to provide a lighter mechanism for our needs.
Will report back if we go that route.

Thanks for your reply.

[2020-11-25 18:17] #98 closed

[2020-12-16 21:26] di opened #100 "Installing on macOS fails due to failed watchdog installation"
Due to https://github.com/gorakhargosh/watchdog/issues/689 and `watchdog` not providing built distributions, installation has been failing on macOS:

[code]

[2020-12-23 17:51] #100 closed

[2021-01-06 18:42] manuganji opened #104 "How to use firebase emulator to test storage and firestore triggers?"
I have a python function that runs on firestore document changes. How do I emulate and test integration with storage locally?

[2021-01-12 20:42] di commented on #104
Install `firebase-tools`:

[code]

Install the firestore emulator:

[code]

Write a basic "background" function:

[code]

Install the Functions Framework:

[code]

In one terminal, start the Functions Framework (by default this will be on `localhost:8080`):

[code]

In a second terminal, start the emulator (on a different port, `localhost:8081`) and tell it which host/port to use for the functions

[2021-01-12 21:24] manuganji commented on #104
This is such a detailed reply. Thank you very much @di ! :)

[2021-01-12 21:28] manuganji commented on #104
I have 2 more questions.

1. I can't currently test `storage` triggers, correct?
2. Can I start the emulator with `firebase emulators:start` and still register the python function? My hope is to test both my nodejs and python functions at the same time.

[2021-01-12 21:55] di commented on #104
Happy to help!

If you mean Cloud Storage for Firebase, correct. From https://firebase.google.com/docs/emulator-suite#feature-matrix:

There's a feature request for this here: https://github.com/firebase/firebase-tools/issues/1738

I'm not very familiar with the firebase emulator, but it seems like it's not possible to start the emulator via `firebase emulators:start` and specify `--functions_emul

[2021-01-22 13:42] martindufort commented on #47
This statement in the Readme file suggest that you can using the `gcloud` command line tool to deploy Cloud Functions locally on your development computer. This is not possible AFAIK.

[2021-01-22 15:14] ace-n commented on #47
@ChristianSauer thanks again for filing this issue. Seeing as we've added a sample in Python and there hasn't been much activity on this since then, I'm going to close the issue as fixed.

Please feel free to reopen if this is still an issue, or file a new issue if you have other concerns. Thanks! 🙂

[2021-01-22 15:14] #47 closed

[2021-01-23 03:04] phil-epl opened #108 "Module Not Found error from dependency in requirements.txt"
I am trying to test a function using the functions-framework that has dependencies inside a requirements.txt file but I am getting an error that the module is not found after running the `functions-framework --target=main` command.

![image](https://user-images.githubusercontent.com/67131733/105567063-aa629200-5cfd-11eb-8122-f23661fd6377.png)

** Edit the functions-framework only seems to work whe

[2021-01-26 16:57] di commented on #108
Hi @phil-epl, the framework won't handle installing your dependencies for you. You'll need to have both the framework (`pip install functions-framework`) and your functions dependencies (`pip install -r requirements.txt`) installed into whatever environment you're using.

Let me know if you have any other questions!

[2021-02-09 00:14] MadJlzz commented on #83
Indeed, it's missing documentation on how to call a function when the type is not `http`.
It's quite straightforward though. After some experiments, with a payload that looks like (for a function of type `event`):

[code]

returns
[code]

by doing simply `print(event)` and `print(context)`

with a function runned with:
`functions-framework --target=<name_of_function_to_run> --signature-type=event`

[2021-02-15 21:42] dirkbosman opened #111 "Testing Functions in Google Colab"
**Use Case:**
- Test functions in a Google Colab (within Google Drive).
- Include ```flask-ngrok``` in the requirement.txt already.

This will allow the Flask app (which is running on localhost) to be available temporarily over the Internet via the excellent [ngrok](https://ngrok.com/) tool, when one runs ```main.py``` thereafter:

[code]

Access function(s) by navigating to the following urls:
[c

[2021-02-18 21:34] bmritz opened #113 "Make MAX_CONTENT_LENGTH configurable"
We have a use-case that often requires request payloads larger than the current MAX_CONTENT_LENGTH (https://github.com/GoogleCloudPlatform/functions-framework-python/blob/master/src/functions_framework/__init__.py#L41).

Functions Framework is intended to be run on K8ts or Cloud Run, both of which can be configured to handle larger requests than the current `MAX_CONTENT_LENGTH`, so configuring it

[2021-02-18 21:44] di commented on #113
Thanks for the issue @bmritz, I think I agree.

@asriniva, you added this in https://github.com/GoogleCloudPlatform/functions-framework-python/pull/66/, but I'm not sure it's necessary in order to resolve that issue. Was that just to guard against a very large request on GCF? What would be the effect of removing that limit in the runtime? I assume the quota in GCF is already enforced somewhere hig

[2021-02-18 21:45] di commented on #111
Closing per https://github.com/GoogleCloudPlatform/functions-framework-python/pull/110#issuecomment-778429275 but thanks for raising the issue!

[2021-02-18 21:45] #111 closed

[2021-02-18 21:45] di commented on #108
Closing as there's nothing to do here.

[2021-02-18 21:45] #108 closed

[2021-02-19 00:56] asriniva commented on #113
Yeah this is strictly as a guard for GCF, as you say I think the quota would be enforced elsewhere in the stack. I think it can be safely removed.

[2021-03-04 08:13] dkocich commented on #32
basically, I use this config on Win PC (see picture) now for debug and there is a button to save it in the repository as a file `.run/myConf.xml` which enables users to easily document and set up debugger in Pycharm for multiple users/IDEs

![image](https://user-images.githubusercontent.com/6165660/109930409-ed822e80-7cc7-11eb-825b-9c04f4839ef6.png)

[code]

[2021-03-08 23:45] lfpazmino commented on #104
Hi @di
Thanks for guidelines, quite useful. However, I am facing an issue and I hope you can help me out

I followed your step-by-step instructions, but it not working. When I checked the **firebase-debug.log** I find these logs:

[debug] [2021-03-08T23:18:40.086Z] Accepted request POST /functions/projects/{project Id}/**triggers/Test --> Test {"metadata":{"emulator":{"name":"functions"},"message"

[2021-03-09 02:10] di commented on #104
@lfpazmino Sorry, I can't really help with the Firebase emulator here. This might be a good issue for the https://github.com/firebase/firebase-tools/ repo or a question for the [`firebase-tools` tag on Stack Overflow](https://stackoverflow.com/questions/tagged/firebase-tools) instead.

[2021-03-09 02:11] #104 closed

[2021-03-24 23:02] gabriel-young commented on #23
@di, any update on this? Looks like @jacobg's comment may be the solution for this bug?

[2021-03-25 17:46] lrodorigo commented on #23
I can confirm that the bug is still there.
Trying to use functions-framork to emulate PubSub events coming from Google IoT Core.
The content of the `event` parameter is COMPLETELY DIFFERENT between the functions framework and the runtime.
While using the functions-framework only the content of the event parameter is only the value of the `data` key set in the request (base64-encoded string), while

[2021-04-16 19:41] grayside commented on #83
Perhaps linking to https://cloud.google.com/functions/docs/running/calling#background_functions would be useful?

[2021-04-16 19:45] grayside opened #119 "Add actionable guidance on payload validation error"
When working with background events locally, it can be difficult to construct the payload correctly. If you are missing the data or context properties, the framework will raise an HTTP 400 response without actionable details. (#83 addresses documentation)

## Current Behavior

The current framework response is:

[code]

The current log output is:
[code]

## Expected behavior

Log output should spe

[2021-04-19 06:49] matoous opened #120 "Different source than the root directory doesn't seem to work"
Hi!

Consider following project structure:

[code]

Not sure whether such structure makes sense but currently it works for me with Google Cloud Functions + terraform. `src` directory gets zipped, uploaded to gcs and deployed. Now, I tried to also create an option for easier local development, but:

## Problem

Using different than default `GOOGLE_FUNCTION_SOURCE` doesn't seem to work. Using the `G

[2021-05-06 00:30] anguillanneuf commented on #23
Thanks all @RomikimoR @wojtek-viirtue @isaldana @uraniun @dror-g @27Bslash6 @mikebridge @jacobg @gabriel-young @lrodorigo for your patience!

Functions Frameworks is now working with Pub/Sub Emulator! 🎉

![ff-emulator](https://user-images.githubusercontent.com/9518298/117225596-8a943d00-adc7-11eb-9752-c69a50a6d71e.jpg)

[2021-05-12 21:20] di opened #127 "Support `click>=7.0<9.0`"
We currently depend on `click` but restrict it's major version:

https://github.com/GoogleCloudPlatform/functions-framework-python/blob/3f9e0659e02257098e21e9af62dc4ccf31b05856/setup.py#L53

The `click==8.0.0` release was made yesterday https://pypi.org/project/click/8.0.0/ and a full changelog is here: https://click.palletsprojects.com/en/8.0.x/changes/

This can introduce conflicts with the func

[2021-05-17 23:26] #127 closed

[2021-05-23 13:30] raghav-arora-nbs commented on #127
Thanks for this. But what's the workaround for this until we get this fix in any released version @di ?
As this is breaking builds when deploying via gcloud functions deploy on python38.

[2021-05-23 13:32] raghavarora12 commented on #127
Thanks for this. But what's the workaround for this until we get this fix in any released version @di ?
As this is breaking builds when deploying via gcloud functions deploy on python38.

[2021-05-24 15:54] di commented on #127
Hi @raghavarora12, you shouldn't need to specify `click` or `flask` in your `requirements.txt` file when deploying. Are you able to just remove them entirely?

[2021-06-01 19:15] dr808 opened #132 "How to test write to storage bucket as trigger"
Looking to test locally a write to a storage bucket as trigger. I just need to get the filename `event['name']` to send to transcription.

[2021-06-01 19:23] di commented on #132
Hi @dr808, can you give us more details? It sounds like you're trying to test a function locally that writes to a storage bucket? What exactly would you like to test? Can you share your function with us?

[2021-06-01 19:42] dr808 commented on #132
Sure, use case is pretty simple. Audio file gets written to cloud storage bucket which triggers cloud function to create a task (long running) to transcribe the audio.

I'd like to trigger the function locally on `google.storage.object.finalize`

[2021-06-01 20:12] di commented on #132
You can write a unit test for any background function like this:

[code]

Here, you determine what the `event` and `context` passed to your function would be, and would mock out the calls to any external services.

Or, if you're just trying to call the function locally, since it's just a Python function, you can write a script like:

[code]

Where `event` and `context` are whatever your function i

[2021-06-01 21:25] dr808 commented on #132
Ok, mock data it is. Thanks.

[2021-06-01 21:25] #132 closed

[2021-07-03 08:54] ALiangLiang opened #135 "[Feature Request] Continue to run even if introduce syntax errors"
If I used native `flask run` to launch a functions as a server, it will keep running even though I raise a syntax error. But functions-framework can't. Is there a way to implement this mechanism in this nice tool? It's annoying to always re-command manually.

I survey how flask works with it and found an [article](https://flask.palletsprojects.com/en/2.0.x/server/?highlight=syntax#lazy-or-eager-lo

[2021-07-07 17:58] di commented on #135
This is a bit tricky, because the execution of the user-supplied source happens before the Flask development server is started, during the creation of the WSGI app: https://github.com/GoogleCloudPlatform/functions-framework-python/blob/c7f66fd5ed9856bdf4e484774742d7c158ab7b43/src/functions_framework/__init__.py#L237

This means that we haven't started Flask's reloader yet and don't have access to

[2021-07-07 18:06] di commented on #120
I'm a little confused here: regardless of your source layout, the framework will not install external packages for you (even if they are specified in `requirements.txt`) as it assumes they have already been installed into the environment.

You should be able to use `--source` and `GOOGLE_FUNCTION_SOURCE` to specify the path to the file in which the function is defined, and that file can import _lo

[2021-07-07 18:22] ALiangLiang commented on #135
I see. Indeed, it's a complex problem. Maybe you can provide a shell script workaround to auto re-launch `functions-framwork` on doc or example?

[2021-07-12 09:53] frankie567 commented on #23
Thanks @anguillanneuf for the added documentation about this.

However, I'm a bit confused here. The examples you show suppose the Cloud Function expects a `request` argument, which sounds to be a Flask `Request`:

[code]

However, unless there is something I miss here, the [official way of implementing a Pub/Sub Cloud Function](https://cloud.google.com/functions/docs/tutorials/pubsub) tells us to

[2021-07-15 10:47] robertfirek opened #136 "Using decorator @functions_framework.errorhandler makes the python script impossible to import"
Using decorator `@functions_framework.errorhandler` makes the python script impossible to import without creating an application.
Import produces the error:
[code]

## Example
Trying to start run 'importer.py' script produce the above error.

decorated.py
[code]

importer.py
[code]

## Possible source of the issue

The error handler decorator is registered in [`functions_framework.create_app()`](h

[2021-07-15 16:05] di opened #138 "Conformance tests are failing"
We likely need to make changes similar to https://github.com/GoogleCloudPlatform/functions-framework-php/pull/103

[2021-07-15 16:08] di commented on #136
Thanks for reporting the issue @robertfirek. I have a proposed fix in #137, can you try it and let us know if it works for you?

You should be able to install from that branch with:

[code]

[2021-07-16 12:25] robertfirek commented on #136
@di It works. Thank you.

[2021-07-20 20:50] #80 closed

[2021-07-21 16:34] #136 closed

[2021-07-25 02:13] jacobg commented on #79
I'd love to have this header available in pubsub-triggered functions please!

[2021-08-03 21:48] di commented on #138
Fixed in https://github.com/GoogleCloudPlatform/functions-framework-python/pull/139.

[2021-08-03 21:48] #138 closed

[2021-08-05 20:47] anguillanneuf opened #141 "Support CloudEvent as triggers in Functions Frameworks"
See https://github.com/GoogleCloudPlatform/functions-framework-python/issues/23#issuecomment-878138500

@frankie567

[2021-08-05 21:05] anguillanneuf commented on #23
@frankie567 Oh no, this issue was closed and I did not see your comment until now! Part of what you describe sounds like a feature request for Functions Frameworks (FF). I opened a new issue #141 and cc'ed you there.

For local testing, the Pub/Sub emulator and FF should suffice if you are okay with using `request`.
For remote testing, the official guide you linked is up to date. I see why you are

[2021-08-05 21:13] di commented on #141
If I'm understanding correctly, this is already supported (added in #56) -- or am I missing something?

[2021-08-08 01:10] NLeRoy917 opened #142 "Hot reloading doesn't work inside Docker container"
I've having issues getting the live reloading to work when running the `functions-framework` inside a Docker container. I'm trying to set up a development environment using `docker-compose`. I am using the solution implemented [here](https://github.com/GoogleCloudPlatform/functions-framework-python/pull/99#issuecomment-734491933) to be able to call all functions from one endpoint.

This is my `Doc

[2021-08-09 15:40] di commented on #142
Hi @NLeRoy917, sorry you're having trouble.

There wasn't, so I added these in #143. With this minimal example, live reloading works as expected for me. Could you try to reproduce with that example and work backwards to your current setup?

I suspect the issue might be that you're mounting a single file as a volume, rather than a directory.

You also shouldn't need to set these.

Also, PS: using a

[2021-08-09 22:20] NLeRoy917 commented on #142
Hey @di! Thanks for the detailed example. I swapped out the alpine image for slim and that didn't work, but when I changed my volume mounts to:
[code]

hot reloading started working again. I've used flask inside `docker-compose` before with alpine images and mounting single files --  hot reloading has never been an issue, so that was odd.

Anyways, thank you for the help!

[2021-08-09 22:20] #142 closed

[2021-08-09 23:59] di commented on #142
Yeah, I think ultimately it's this issue: https://github.com/moby/moby/issues/15793. Glad to help!

[2021-08-11 14:10] anguillanneuf commented on #141
Ohh, you are right.

I think the issue should be to update the Pub/Sub quickstart to use `(data, context)`:

https://github.com/GoogleCloudPlatform/functions-framework-python#quickstart-pubsub-emulator

[2021-08-11 15:17] di commented on #23
Reopening this until we can update the example to use a background function instead of a HTTP function per #141.

[2021-08-11 15:17] di commented on #141
I'll close this and reopen #23.

[2021-08-11 15:17] #141 closed

[2021-08-24 17:48] #23 closed

[2021-09-18 15:37] jcjones1515 opened #145 "strict type check doesn't allow for callable objects"
The [strict type check here](https://github.com/GoogleCloudPlatform/functions-framework-python/blob/master/src/functions_framework/__init__.py#L266-L273), prevents us from using a python object that implements `__call__`.  I would propose (and am happy to contribute a PR for) changing this check to use [`callable(...)`](https://docs.python.org/3/library/functions.html#callable) instead to allow mo

[2021-09-19 00:38] di commented on #145
That check has been there since the very first commit, so I'm not sure the behavior has changed over time.

I think this would be OK, but could you give us some more detail about why you need this? Any examples would be great as well. Thanks!

[2021-09-19 15:48] jcjones1515 commented on #145
I'm not sure whats changed, but we've used an internal framework for a few years with GCF.  Starting a week or two ago we started getting caught by this check.

w/o posting the whole code, our framework works something like this:

[code]

You can then instantiate it and use that instance as the entry point like:

[code]

[2021-09-20 12:13] di commented on #145
Thanks. I think it will be fine to convert this to a check for `callable`, feel free to make a PR!

Just a follow-up question, as I'm trying to understand the use case here: why do you use this pattern? It seems like it would help ensure that initialization is the same across multiple Cloud Functions, is that the main goal? If you have multiple functions using this, how do you structure your sourc

[2021-10-04 16:45] di opened #148 "Conformance tests are failing"
The `write_legacy_event` conformance test has started failing on the `master` branch: https://github.com/GoogleCloudPlatform/functions-framework-python/runs/3414035673

https://github.com/GoogleCloudPlatform/functions-framework-python/blob/e79fc74703f96503aad29a6bdf4d1d8cf29c0b66/tests/conformance/main.py#L18-L31

Stacktrace seems to indicate that it's trying to serialize non-serializable data:

[

[2021-10-06 15:38] di opened #149 "Support Python 3.10"
- [ ] CI tests against 3.10
- [ ] Classifiers are updated to include 3.10

[2021-10-08 17:45] PicardParis commented on #149
Hey Dustin,
Submitted https://github.com/GoogleCloudPlatform/functions-framework-python/pull/151

[2021-10-19 17:04] bhandari-nitin opened #157 "Deploying Cloud Function gives error: MissingTargetException"
Hi there,

Deploying google cloud function with python3.8 runtime gives error:

[code]

Stacktrace

[code]

There is a main function within main.py that I am trying to deploy.

[2021-10-19 17:08] di commented on #157
Hi, can you share your `main.py` file (or at least the signature of the function you're trying to deploy) as well as the command you're using to deploy?

[2021-10-19 18:22] di commented on #157
I created a new Python 3.8 function by pasting that into the UI at https://console.cloud.google.com/functions/add, changing the entrypoint from `hello_world` to `main`,  and was able to successfully deploy it.

Any other details you can give us? Have you set any environment variables or otherwise changed the function configuration?

Can you go to the "Source" tab for the function and select "Downl

[2021-10-19 18:34] bhandari-nitin commented on #157
I see, strange. I tried the same with only the code  I shared and got same error.

Here are the details:

1. Region: US-Central1
2. Trigger: HTTP
3. Runtime: Python3.8
4. Memory Allocated: 256 MB
5. Executed Function: main
6. Authentication: <Blank though Allow Unauthenticated was selected>

Zip file:
[function-source.zip](https://github.com/GoogleCloudPlatform/functions-framework-python/files/737

[2021-10-20 00:27] grant opened #159 "Implement Declarative Function Signatures"
This issue is tracking implementing declarative function signatures in python.

This feature allows a functions framework to _optionally_ detect the user code's function signature without specifying a `--signature-type` / `FUNCTION_SIGNATURE_TYPE` config. It may require a code change for the user.

A possible implementation for python may look like this:

[code]

The function (i.e. `hello`) would

[2021-10-21 00:22] grant commented on #159
Also, feel free to refactor

https://github.com/GoogleCloudPlatform/functions-framework-python/blob/master/src/functions_framework/__init__.py

if it's getting a bit too large of a surface area.

[2021-10-26 22:21] #159 closed, assigned to KaylaNguyen

[2021-10-27 02:28] salman5247 opened #161 "Unable to run functions-framework --target=hello"
Unable to run functions-framework --target=hello

Upon running this, getting
'functions-framework' is not recognized as an internal or external command,
operable program or batch file.

Already did pip3 install functions-framework

[2021-10-29 17:49] #149 closed, assigned to grant, PicardParis

[2021-11-03 16:37] matthewrobertson opened #166 "CloudEvent signature decorator should be snake case"
"Cloud Event" is two words so the decorator should be snake case:

[code]

[2021-11-03 16:55] grant commented on #166
Note: I believe we should still refer to these events as `CloudEvent`, but the appropriate snake case for this should be `cloud_event` as mentioned above.

[2021-11-10 20:17] #166 closed

[2021-11-17 18:53] matthewrobertson commented on #161
Closing this because there isn't enough information to take action. @salman5247 please re-open if you are still having trouble.

[2021-11-17 18:53] #161 closed

[2021-11-17 19:01] matthewrobertson opened #170 "Exception when receiving Pub/Sub messages without attributes"
Our handling of "raw" Pub/Sub events assumes there will always be `data.message.attributes` here: https://github.com/GoogleCloudPlatform/functions-framework-python/blob/master/src/functions_framework/event_conversion.py#L320

This is the case when using the Pub/Sub emulator. It is not necessarily the case when integrating with the GCP Pub/Sub service. Here is a sample payload sent by Pub/Sub:

[co

[2021-11-22 18:54] dibusan commented on #29
I

I got it running, but breakpoints are not stopping. Any ideas ?

[2021-11-22 18:59] dibusan commented on #29
Update: removing `--debug` fixed it. It now stops at breakpoints.

[2021-11-30 08:50] AnkitKundariya commented on #29
@dibusan

I have copied  _cli.py from function-framework source code to my GCP Function root dir next to main.py and I'm trying to debug it as shown below but somehow it's not working what's the missing piece here?

[code]

Thanks in advance.

[2021-12-07 04:37] lizzzcai opened #172 "How to log information in the function"
For a function, can I define my log format and log the information I needed?

I tried the following but it is not working. No log is showing in the console.

[code]

[2022-01-10 14:17] anovis opened #174 "There is no way to pass options to the `create_server` function"
I would like to pass options such as workers and threads to the `create_server` function which then gets passed to the http server. However, currently the `create_server` function doesn't pass in any options

`create_server(app, debug).run(host, port)`

[2022-01-25 16:51] josh-gree commented on #23
Hi really great tool you have built here!

I really want to just be able to use curl to simulate a Pub/Sub message - I dont want to have to run the whole emulator - is this possible?

[2022-02-12 01:31] tomboolean opened #176 "ModuleNotFoundError: No module named 'ffmpeg'"
[code]

./scripts/run-local-pubsub.sh's contents:

[code]

 .src/requirements.txt contents:

[code]

.src/main.py's contents:

[code]

As you can see, we import pydantic just fine without issue. Can someone tell me,  what is the problem here?

[2022-02-13 04:21] tomboolean commented on #176
This is also happening with pydub.

[code]

[2022-03-11 03:00] leo-padron opened #177 "Error when following Quickstart: Pub/Sub emulator"
I'm following the instructions exactly as described in
**Functions Framework for Python**
-Quickstart: Pub/Sub emulator

But I run these steps:

![image](https://user-images.githubusercontent.com/71105287/157793744-2e1ab130-00c8-4c6c-9d28-adf3b5461a53.png)

I get this error:

![image](https://user-images.githubusercontent.com/71105287/157793857-4e5feaa0-0b0b-4826-bed7-fe0c836ef5c7.png)

[2022-03-18 21:21] grant commented on #177
This is not parsing the command correctly.

I think you need to write `"create-push"` instead of `create-push` for this to work properly.

[2022-03-18 21:52] asriniva commented on #176
What does the shebang for `functions-framework` say? I suspect it might be pulling the wrong Python environment (so ffmpeg is not present there).

[2022-03-24 11:07] svleeuwen opened #178 "Function `_http_view_func_wrapper` should use `@functools.wraps`"
For example when using Flask-Talisman you can specify per-view options using:

[code]

Talisman will decorate the view function with a `talisman_view_options` attribute which is retrieved later like this:

[code]

Adding `functools.wraps` makes sure all function attributes are copied from the original function to the `_http_view_func_wrapper`.

Will create a pull request for this in a minute.

[2022-03-25 22:21] anniefu commented on #178
Hello, thanks for filing this issue!

This seems like a good change to add. Would it be possible for you to add a unit test and open a PR?

[2022-03-29 12:19] av1m commented on #98
I think you can bypass using [this method](https://medium.com/google-cloud/use-multiple-paths-in-cloud-functions-python-and-flask-fc6780e560d3), an example :

[code]

Run this script with the following command :
[code]

[2022-04-01 10:20] svleeuwen commented on #178
@anniefu added test to [PR](https://github.com/GoogleCloudPlatform/functions-framework-python/pull/179)

[2022-04-01 21:48] grant commented on #177
Part of docs: https://github.com/GoogleCloudPlatform/functions-framework-python#quickstart-pubsub-emulator

@anguillanneuf, can you triage this issue since you added these docs?

[2022-04-15 22:46] anniefu commented on #174
Hi @anovis, thanks for the feedback! The workers and threads selected are intentionally abstracted away. While there is benefits to be able to fine-tune concurrency settings, it is not complexity we want to expose at this time.

[2022-04-21 21:37] anguillanneuf commented on #177
@leo-padron I wasn't able to reproduce the error you are seeing.

This is what I get:

[code]

I suspect $TOPIC_ID and $PUSH_SUBSCRIPTION_ID aren't populated in your case. Could you check? Thanks for your patience.

[2022-04-22 08:04] BoHuang2018 commented on #177
I have a question for [the paragraph of using **PubSub Emulator** ](https://github.com/GoogleCloudPlatform/functions-framework-python/#quickstart-pubsub-emulator)

Above the example function, `def hello(event, context):`, there is no decorator like `@functions_framework.cloud_event`.

@leo-padron  Is this the reason for your error ?

[2022-04-27 17:56] grant commented on #172
Hi there,

Here are the docs for writing logs:
https://cloud.google.com/functions/docs/monitoring/logging

You can also use the Cloud Logging client library to log with detailed information:
https://cloud.google.com/logging/docs/reference/libraries

I would also ensure your logs are within the function. Hope this helps.

[2022-04-27 17:56] #172 closed

[2022-04-27 18:21] grant commented on #119
The change would be additional error message after validating an event:

https://github.com/GoogleCloudPlatform/functions-framework-python/blob/99a9df6500c620594dd9d17bd32798283a20aa3e/src/functions_framework/__init__.py#L167

[2022-04-27 19:28] asriniva commented on #176
Closing due to inactivity.

[2022-04-27 19:28] #176 closed

[2022-04-29 17:15] jyork03 opened #184 "functions-framework breaks the google-cloud-functions SDK package"
functions-framework is incompatible with the [google-cloud-functions](https://pypi.org/project/google-cloud-functions/) SDK package, unless google-cloud-functions is installed with a separate install command AFTER functions-framework is installed.

As I understand it, this is not possible to do within the context of Google Cloud Functions, where packages get installed automatically from the requir

[2022-04-29 17:35] jyork03 commented on #184
For anyone that might be stuck on this in the meantime, you can import the client and functions directly:

[code]

[2022-05-17 15:47] imbue opened #188 "Accessing SQLAlchemy in pytest results in RuntimeError: Working outside of application context."
When using a combination of `flask`, `sqlalchemy`, `functions framework` and `pytest` I get an `RuntimeError: Working outside of application context.` error as soon as the function attempts to hit the `schema.py` file. Running locally works like a charm, trouble starts when running as test.

To pinpoint the problem I removed the `Merchant.query` usage so the function does not hit the `schema.py` f

[2022-05-31 17:21] grant commented on #177
There is no decorator for `event`, just `cloud_event` - which is preferred.

I'm going to close this as both Tianzi and myself couldn't repro the issue and I believe there's just a user-error typo.

[2022-05-31 17:21] #177 closed

[2022-06-07 20:45] anniefu commented on #178
Fixed with #179

[2022-06-07 20:45] #178 closed

[2022-06-09 07:58] racinmat opened #190 "Untyped functions_framework.http"
The decorator `functions_framework.http` is untyped, leading to `Untyped decorator makes function "main" untyped` errors when using mypy.
Would it be possible to add mypy typing? Thanks.

[2022-06-10 16:32] grant commented on #157
Reading through this thread... it seems like we've figured out a way to deploy successfully. Not sure if there is an issue with the Functions Framework.

I'm going to close this, but if the issue is still persisting, please open a new issue and link this issue in the description.

[2022-06-10 16:32] #157 closed

[2022-06-10 18:59] grant commented on #190
Sounds reasonable.

https://github.com/GoogleCloudPlatform/functions-framework-python/blob/f2285f96072d7ab8f00ada0d5f8c075e2b4ad364/src/functions_framework/__init__.py#L72

I attempted to add more types here:

https://github.com/GoogleCloudPlatform/functions-framework-python/pull/191

[2022-06-15 17:48] yiga2 opened #192 "support of async views"
Similarly to Flask, the framework should support async function for a view - see https://flask.palletsprojects.com/en/2.1.x/async-await/
Under the hood, Flask executes `asyncio.run()` and returns the resulting value.

When trying to define the view function with `async`, one gets `TypeError: The view function did not return a valid response. The return type must be a string, dict, tuple, Response

[2022-06-17 21:19] grant commented on #113
Pull requests are welcome. We'd allow it. PR also needs testing.

https://github.com/GoogleCloudPlatform/functions-framework-python/blob/9af6591465ce59516c5a3058906c0685a0dcea01/src/functions_framework/__init__.py#L38

[2022-06-21 15:03] #188 closed, assigned to nobody

[2022-06-24 21:28] grant commented on #184
Overwritten: https://github.com/GoogleCloudPlatform/functions-framework-python/blob/master/src/google/cloud/functions_v1/__init__.py

[2022-06-30 15:14] istrupin opened #193 "Running functions-framework for HTTP cloud functions with https locally"
Is there a way to run functions-framework locally using HTTPS?  If this is using Flask under the hood would there be a way to expose the `flask run --cert=adhoc` parameter in the functions-framework command?

[2022-07-27 23:04] jama22 commented on #193
Hi @istrupin, you're correct, we are using Flask underneath the hood. Unfortunately, we currently don't have plans to add local HTTPS testing to functions-framework.

[2022-08-06 20:11] xSAVIKx opened #194 "Consider adding support for more web frameworks"
While Flask is a decent choice as a default implementation, it may be beneficial to allow using different frameworks as the baseline for a Cloud Function.

I assume the following ones could be some great candidates:
* https://fastapi.tiangolo.com/
* https://www.tornadoweb.org/en/stable/
* https://sanic.readthedocs.io/en/latest/

We're also considering having framework-specific implementations of C

[2022-08-07 19:40] xSAVIKx commented on #193
@jama22 is there any particular reason or just a lack of people to do that change? I guess someone from the community can jump in. It doesn't look like a heavy change at all.

[2022-08-07 19:44] xSAVIKx commented on #174
Is there any particular reason why the team would like to limit this kind of capability?

I totally agree that such tuning should not be required and there must be reasonable defaults, but what is the reason behind not letting people tune it when needed?

I assume that a workaround may be forking the repo and exposing all the relevant configs and then explicitly adding fork as a requirement to a d

[2022-08-07 19:46] xSAVIKx commented on #120
I believe the actual request here is to be able to specify not only the function source (main.py), but also the path to the `requirements.txt` in order to be able to support virtually any kind of the source code format. It is a standard situation when requirements are not in the root folder.

[2022-08-08 20:09] jama22 commented on #193
No particular reason @xSAVIKx ; it's definitely more the latter where our teams are currently focused on tasks that support the GCF 2nd Generation release, and also some efforts to improve the authoring of functions across all languages.

I think local development / local iteration of functions is a really important aspect of functions-framework. We'd definitely welcome a PR from the community. Ho

[2022-08-22 20:29] jama22 commented on #194
I think that's an interesting idea, but it touches on something we've been wrestling with inside the functions-framework team.

The fact that people know that we use Flask underneath the hood is a bit of an anti-goal for the project. Flask is a convenient starting point to handle a lot of the workflows, and we don't wish to become a meta-abstraction layer on top of Flask. Taken to the extreme, we

[2022-08-25 22:46] ABDERRAHMANE-OUALI opened #198 "Add Cache Control Header to cache responses with Firebase Hosting ?"
is it possible to add cache control to the response ?

[2022-08-26 12:35] t510599 commented on #113
Hi @grant, I have implemented this feature and submitted the PR in #196.
Please take a look when you are free, thank you.

[2022-08-26 12:39] grant commented on #113
Thanks @t510599. I'll defer the PR review to @anniefu.

[2022-09-12 15:33] christippett commented on #190
I wrote the snippet below for another project. It's pulling in the same types used by Flask, so things like the request object and expected return type for function handlers are all properly annotated and play nice with intellisense.

Given Flask is already included as a dependency in the functions framework, it might be worth piggybacking on the types defined in [`flask.typing`](https://github.co

[2022-10-03 08:15] ShafinKhadem opened #199 "Inconsistency in the server status between emulator and the deployed cloud function"
According to [Retrying event-driven functions - Google Cloud Functions Documentation](https://cloud.google.com/functions/docs/bestpractices/retries):

There's no way to replicate this behavior locally. Please add a CLI flag like `--no-error` which would replicate this behavior.

[2022-10-17 22:50] SrChach opened #200 "Docs: Missing multiple URL path example"
There're no examples on the docs or readme on how to use Functions Framework with multiple http endpoints.

Although it's easy, is not that easy to figure without a real applied example.

Thanks!

[2022-10-19 15:16] torbendury commented on #194
@jama22 Although this might be a little off-topic, I still have a question related to your chosen frameework: Why is it bad that people consider the `functions-framework` for Python as an abstraction layer for Flask?

[2022-10-19 16:38] jama22 commented on #194
I think that's a fair question @torbendury . There's a fine line we're trying to walk with the functions framework project. We want to focus on building abstractions to support a broad range of functions with all kinds of input and output types. HTTP is one of the more useful ones, and so are CloudEvents and PubSub topics. In the case of Python, we use Flask as a means to achieve that goal.

When

[2022-10-19 16:41] jama22 commented on #200
@SrChach Out of curiosity did do something along the lines of this blog post? https://medium.com/google-cloud/use-multiple-paths-in-cloud-functions-python-and-flask-fc6780e560d3